# Pandas for Python in Jupyter Notebook

In [1]:
import pandas as pd
import numpy as np

In [2]:
# This function is to show two data structures side by side
# Used in Web McKinney's presentations: http://www.youtube.com/watch?v=w26x-z-BdWQ
def side_by_side(*objs, **kwds):
    from pandas.io.formats.printing import adjoin
    space = kwds.get('space', 4)
    reprs = [repr(obj).split('\n') for obj in objs]
    print(adjoin(space, *reprs))

## Series
### Creating Series

In [3]:
a=['Car','Bicycle','Bike','Bus'] # list of strings
print("Series called upon list: {}\n{}".format(a,pd.Series(a)))

Series called upon list: ['Car', 'Bicycle', 'Bike', 'Bus']
0        Car
1    Bicycle
2       Bike
3        Bus
dtype: object

In [4]:
b=[1,2,3,4] # list of numbers
c=np.array(b) # array
print("Series called upon array: {}\n{}".format(c,pd.Series(c)))

Series called upon array: [1 2 3 4]
0    1
1    2
2    3
3    4
dtype: int32

In [5]:
d={'a':10,
  'b':20,
  'c':30,
  'd':40} # dictionary
print("Series called upon dictionary: {}\n{}".format(d,pd.Series(d)))

Series called upon dictionary: {'a': 10, 'b': 20, 'c': 30, 'd': 40}
a    10
b    20
c    30
d    40
dtype: int64

### Common Operations on Series

In [6]:
# Union of the index

series_1=pd.Series(b,a) # pd.Series(data,row_index)
print("Series_1:\n{}".format(series_1)) 
series_2=pd.Series(data=b,index=['Bike','Scooty','Auto','Bus'])
print("\nSeries_2:\n{}".format(series_2))

# (values of only bus and bike are added since they are common)
print('\nUnion of Series_1 and Series_2:\n{}'.format(series_1+series_2))

# Dropping Nan values
print('\nAfter dropping Nan Values:\n{}'.format((series_1+series_2).dropna()))

Series_1:
Car        1
Bicycle    2
Bike       3
Bus        4
dtype: int64

Series_2:
Bike      1
Scooty    2
Auto      3
Bus       4
dtype: int64

Union of Series_1 and Series_2:
Auto       NaN
Bicycle    NaN
Bike       4.0
Bus        8.0
Car        NaN
Scooty     NaN
dtype: float64

After dropping Nan Values:
Bike    4.0
Bus     8.0
dtype: float64

In [7]:
x=pd.Series([15,10,5,30,20,25,np.nan],['Blue','Green','Yellow','Orange','Purple','Red','White'])
print("Series x:\n{}".format(x))

Series x:
Blue      15.0
Green     10.0
Yellow     5.0
Orange    30.0
Purple    20.0
Red       25.0
White      NaN
dtype: float64

In [8]:
print('Class of Series x: ',type(x)) # class

Class of Series x:  <class 'pandas.core.series.Series'>

In [9]:
print("Values of series x are returned as array using the values attribute:\n{}".format(x.values)) # attribute
print("\nIndexes of series x are returned using the index attribute:\n{}".format(x.index)) # attribute

Values of series x are returned as array using the values attribute:
[15. 10.  5. 30. 20. 25. nan]

Indexes of series x are returned using the index attribute:
Index(['Blue', 'Green', 'Yellow', 'Orange', 'Purple', 'Red', 'White'], dtype='object')

In [10]:
print("Sum of elements of series: ",x.sum()) # function

Sum of elements of series:  105.0

In [11]:
print("Product of elements of series: ",x.product()) # function

Product of elements of series:  11250000.0

In [12]:
print("Mean of elements of series: ",x.mean()) # function

Mean of elements of series:  17.5

In [13]:
print("First two elements in series:\n\n{}".format(x.head(2)))

First two elements in series:

Blue     15.0
Green    10.0
dtype: float64

In [14]:
print("Last two elements in series:\n\n{}".format(x.tail(2)))

Last two elements in series:

Red      25.0
White     NaN
dtype: float64

In [15]:
print("Summary of operations:\n\n{}".format(x.describe()))

Summary of operations:

count     6.000000
mean     17.500000
std       9.354143
min       5.000000
25%      11.250000
50%      17.500000
75%      23.750000
max      30.000000
dtype: float64

In [16]:
print("Number of elements in series: ",x.count()) # count() excludes the null values while counting

Number of elements in series:  6

In [17]:
print("Maximum in series is {} at position {}".format(x.max(),x.idxmax())) # idxmax() returns the index of maximum element
print("Minimum in series is {} at position {}".format(x.min(),x.idxmin())) # idxmin() returns the index of minimum element

Maximum in series is 30.0 at position Orange
Minimum in series is 5.0 at position Yellow

In [18]:
print("Series sorted by value:\n{}".format(x.sort_values())) # x.sort_values() returns the series by sorting values in ascending order
print("\nSeries sorted by index:\n{}".format(x.sort_index())) # x.sort_index() returns the series by sorting indexes in ascending order

Series sorted by value:
Yellow     5.0
Green     10.0
Blue      15.0
Purple    20.0
Red       25.0
Orange    30.0
White      NaN
dtype: float64

Series sorted by index:
Blue      15.0
Green     10.0
Orange    30.0
Purple    20.0
Red       25.0
White      NaN
Yellow     5.0
dtype: float64

In [19]:
print("Sorted list of values from series: ",sorted(x, reverse=True)) # returns the list in descending order

Sorted list of values from series:  [30.0, 25.0, 20.0, 15.0, 10.0, 5.0, nan]

In [20]:
print("Sample of elements:\n{}".format(x.sample(3))) # picks a random sample from series

Sample of elements:
White      NaN
Purple    20.0
Blue      15.0
dtype: float64

#### in statements

In [21]:
print("Series x:\n{}".format(x))

print('\n15 in x:',15 in x) # returns false, although 15 is present in the series as it checks for index rather than values
print("'Blue' in x:",'Blue' in x) # returns true
print("'Red' in x.index:",'Red' in x.index) # returns true, works similar to above
print("20 in x.values:",20 in x.values) # returns true as it checks in values

Series x:
Blue      15.0
Green     10.0
Yellow     5.0
Orange    30.0
Purple    20.0
Red       25.0
White      NaN
dtype: float64

15 in x: False
'Blue' in x: True
'Red' in x.index: True
20 in x.values: True

#### Extracting values using index

In [22]:
print("Series x:\n{}".format(x))

print("\nExtracting a single value x['Orange']:",x['Orange']) # returns value
print("\nExtracting multiple values x[['Green','Yellow']]:\n{}".format(x[['Green','Yellow']])) # returns a series
print("\nExtracting Series with wrong index x[['green','Yellow']]:\n{}".format(x[['green','Yellow']])) # returns the series with value of 'green' as NaN, indexes are case-sensitive
print("\nExtracting Series x['Green':'Purple']:\n{}".format(x["Green":"Purple"]))

# get() is also used to return values
print("\n\nUsing the get():\n\nReturning a value x.get('Orange'): ",x.get("Orange")) # returns value
print("\nReturning multiple values: x.get(['Orange','Red'])\n{}".format(x.get(["Orange","Red"]))) # returns a series

# default parameter is returned when no such data is present in series
print("\nExtracting value with wrong index x.get('green',default='Not a valid index'):",x.get("green",default="Not a valid index"))

Series x:
Blue      15.0
Green     10.0
Yellow     5.0
Orange    30.0
Purple    20.0
Red       25.0
White      NaN
dtype: float64

Extracting a single value x['Orange']: 30.0

Extracting multiple values x[['Green','Yellow']]:
Green     10.0
Yellow     5.0
dtype: float64

Extracting Series with wrong index x[['green','Yellow']]:
green     NaN
Yellow    5.0
dtype: float64

Extracting Series x['Green':'Purple']:
Green     10.0
Yellow     5.0
Orange    30.0
Purple    20.0
dtype: float64


Using the get():

Returning a value x.get('Orange'):  30.0

Returning multiple values: x.get(['Orange','Red'])
Orange    30.0
Red       25.0
dtype: float64

Extracting value with wrong index x.get('green',default='Not a valid index'): Not a valid index

c:\users\shaur\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\series.py:1155: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

In [23]:
a=pd.Series([1,1,4,7,9,3,7,4,1,9],['A','B','C','D','E','F','G','H','I','J'])
b=pd.Series(['C','F','A','D','I'],['Blue','Orange','Yellow','Red','Green'])
print("Series a:\n{}".format(a))
print("\nSeries b:\n{}".format(b))

# Values of Series b are mapped with indexes of series a
print("\nMapping of b on a:\n{}".format(b.map(a)))

Series a:
A    1
B    1
C    4
D    7
E    9
F    3
G    7
H    4
I    1
J    9
dtype: int64

Series b:
Blue      C
Orange    F
Yellow    A
Red       D
Green     I
dtype: object

Mapping of b on a:
Blue      4
Orange    3
Yellow    1
Red       7
Green     1
dtype: int64

In [24]:
a=pd.Series([1,1,4,7,9,3,7,4,1,9],['A','B','C','D','E','F','G','H','I','J'])
print("Series:\n{}".format(a))
print("\nCheck whether values in series are unique: ",a.is_unique) # returns boolean value (true/false)

# value_counts returns the number of occurences of each value
print("\nUnique values in series with its no of occurences:\n{}".format(a.value_counts()))

# ascending parameter returns the number of occurences of each value in ascending order
print("\nUnique values in series with its no of occurences in ascending order:\n{}".format(a.value_counts(ascending=True)))

Series:
A    1
B    1
C    4
D    7
E    9
F    3
G    7
H    4
I    1
J    9
dtype: int64

Check whether values in series are unique:  False

Unique values in series with its no of occurences:
1    3
9    2
7    2
4    2
3    1
dtype: int64

Unique values in series with its no of occurences in ascending order:
3    1
4    2
7    2
9    2
1    3
dtype: int64

In [25]:
a=pd.Series([1,1,4,7,9,3,7,4,1,9],['A','B','C','D','E','F','G','H','I','J'])
print("Series:\n{}".format(a))
print("\nAdding value 10 to each element:\n{}".format(a.add(10)))
print("\nSubtracting value 10 to each element:\n{}".format(a.sub(10)))
print("\nMultiplying by value 10 with each element:\n{}".format(a.mul(10)))
print("\nDividing by value 10 with each element:\n{}".format(a.div(10)))

# apply() is used to implement some function on each element of series
print("\nImplementing apply() on series using lambda:\n{}".format(a.apply(lambda x:(((5*x)-3)/4)**2)))

Series:
A    1
B    1
C    4
D    7
E    9
F    3
G    7
H    4
I    1
J    9
dtype: int64

Adding value 10 to each element:
A    11
B    11
C    14
D    17
E    19
F    13
G    17
H    14
I    11
J    19
dtype: int64

Subtracting value 10 to each element:
A   -9
B   -9
C   -6
D   -3
E   -1
F   -7
G   -3
H   -6
I   -9
J   -1
dtype: int64

Multiplying by value 10 with each element:
A    10
B    10
C    40
D    70
E    90
F    30
G    70
H    40
I    10
J    90
dtype: int64

Dividing by value 10 with each element:
A    0.1
B    0.1
C    0.4
D    0.7
E    0.9
F    0.3
G    0.7
H    0.4
I    0.1
J    0.9
dtype: float64

Implementing apply() on series using lambda:
A      0.2500
B      0.2500
C     18.0625
D     64.0000
E    110.2500
F      9.0000
G     64.0000
H     18.0625
I      0.2500
J    110.2500
dtype: float64

In [26]:
s1=pd.Series([1,2,3,4,5,6,7,8,9],['A','B','C','D','E','F','G','H','I']) # pd.Series(data,row_index)
# print("Series_1:\n{}".format(s1)) 
s2=pd.Series([4,5,6,14,15,16,3,18,19],['D','E','F','P','Q','R','C','Z','Y'])
# print("\nSeries_2:\n{}".format(s2))

# Align s1 and s2 with an outer join = default
a, b = s1.align(s2, join='outer')
side_by_side(a, b)

A    1.0          A     NaN
B    2.0          B     NaN
C    3.0          C     3.0
D    4.0          D     4.0
E    5.0          E     5.0
F    6.0          F     6.0
G    7.0          G     NaN
H    8.0          H     NaN
I    9.0          I     NaN
P    NaN          P    14.0
Q    NaN          Q    15.0
R    NaN          R    16.0
Y    NaN          Y    19.0
Z    NaN          Z    18.0
dtype: float64    dtype: float64

In [27]:
# Align s1 and s2 with an inner join
a, b = s1.align(s2, join='inner')
side_by_side(a, b)

C    3          C    3
D    4          D    4
E    5          E    5
F    6          F    6
dtype: int64    dtype: int64

In [28]:
# Align s1 and s2 with a left join
a, b = s1.align(s2, join='left')
side_by_side(a, b)

A    1          A    NaN
B    2          B    NaN
C    3          C    3.0
D    4          D    4.0
E    5          E    5.0
F    6          F    6.0
G    7          G    NaN
H    8          H    NaN
I    9          I    NaN
dtype: int64    dtype: float64

In [29]:
# Align s1 and s2 with a right join and set value to 0 if NaN
a, b = s1.align(s2, join='right', fill_value=0)
side_by_side(a, b)

D    4.0          D     4
E    5.0          E     5
F    6.0          F     6
P    0.0          P    14
Q    0.0          Q    15
R    0.0          R    16
C    3.0          C     3
Z    0.0          Z    18
Y    0.0          Y    19
dtype: float64    dtype: int64

### DataFrames

In [ ]:
import pandas as pd
import numpy as np

df=pd.DataFrame(np.random.randint(1,9,(3,3)),['A','B','C'],['X','Y','Z']) # pd.DataFrame(data,row_index,column_index)
print("Dataframe:\n",df)

# Functions in dataframes are quite similar to series

print('\nIndexes of DataFrame:\n',df.index)
print('\nValues of DataFrame:\n',df.values)
print('\nClass of DataFrame: ',type(df))

# Extracting elements
print('\nAccessing a specific column (Y)\n',df['Y']) # retrieving a column
print('\nAccessing multiple columns (X and Z)\n',df[['X','Z']]) # retrieving multiple columns by passing a list of names of columns
print('\nAccessing a specific row (B)\n',df.loc['B']) # df.loc(row_name) extracts the row elements
print('\nAccessing a specific row using index (C)\n',df.iloc[2]) # df.iloc(index) extracts the row elements index-wise
print('\nAccessing a specific element (B,Z) using loc: ',df.loc['B','Z']) # df.loc(row_index,column_index) extracts the specific element
print('\nAccessing a specific element (C,Z) using iloc: ',df.iloc[2,2]) # df.iloc[Row,Column]

print("\nFiltering using between():\n",df[df['Z'].between(4,9)])
print("\nChecking null values:\n",df.isnull())
print("\nChecking non-null values:\n",df.notnull())

m=df.as_matrix()
print("\nConverting Dataframe into Matrix: \n",m)
print('\nClass of Matrix: ',type(m))

In [ ]:
import numpy as np
import pandas as pd

url="https://raw.githubusercontent.com/jamwine/Data/master/Class%20Result.csv"
df=pd.read_csv(url) # pd.read_csv(file) is used to read csv file and return it as a dataframe
print('Dataset:\n',df.head(3)) # the first line of the data is considered as column headings
df=pd.read_csv(url, usecols=['Exam1','Exam2','Exam3']) # usecols describes which columns are to be added in the dataframe 
print('\nDataset with specified columns using usecols:\n',df.head(3))

print("\nDimension of dataframe: ",df.ndim)
print("Shape of dataframe: ",df.shape) 
print("Size of dataframe: ",df.size) # No. of elements
print('\nColumns of DataFrame:\n',df.columns)
print('\nDataFrame Axes:\n',df.axes) # gives information about both indexes and values
print("\nSum of elements with columns as index:\n",df.sum()) # default axis=0
print("\nSum of elements with rows as index:\n",df.sum(axis=1).head(3))

# Defining new column
df['Total_Marks']=df['Exam1']+df['Exam2']+df['Exam3']
print('\nNew Column Total_Marks is added:\n', df.head(3))

df.insert(4,'Class',"Class 7th") # df.insert(loc, column, value) inserts a new column at the speciifed index location in dataframe
print("\nNew Column Class is introduced using insert():\n",df.head(3))

df.drop('Class',axis=1) # df.drop(name,axis) is used to remove the specified rows/columns 
print("\nAlthough the column Class is dropped, it still remains intact inside the original dataframe.\n",df.head(3))

df.drop('Class',axis=1, inplace=True) # inplace attribute is used to overwrite the new data into the original dataframe 
print("\nAfter using the inplace attribute, it removes the column Class permanently from the original dataframe.\n",df.head(3))

del df['Total_Marks'] # del is permanent in nature unlike inplace attribute
print("\nColumn Total_Marks is deleted using del()\n",df.head(3))

print("\nFiltering dataset using conditions:\n",df[(df['Exam1']<220) & ((df['Exam2']>220) | (df['Exam3']>220))],'\n') # returning dataframe, filtering the dataset 
print("Filering using isin():\n",df[df['Exam1'].isin([229,225,221,223,227])],'\n') # df['column_name'].isin([elements]) checks for the list of elements in the dataset and returns the boolean value 
print("Filtering using between():\n",df[df['Exam3'].between(205,210)],"\n")

df.info() # information about dataframe

In [ ]:
import numpy as np
import pandas as pd

url="https://raw.githubusercontent.com/jamwine/Data/master/Exam%20Result.csv" 
# this dataset doesn't contains any column headings
df1=pd.read_csv(url,header=None) # header=None is used to prevent data in first row to be determined as the column headings
print('Dataset without column headings:\n',df1.head(3),'\n')

df1.dropna() # dropna() drops all rows containing any one NaN value, data is removed temporarily until we mention the parameter inplace=True
df1.dropna(axis=1, how='all',inplace=True) # dropping columns which contains all its values as NaN (how='all') 
print('Dataset after removing all columns containing NaN values:\n',df1.head(3))

headers=['A','B','C','D','E','F','G','H','I','J','K','L','M']
df1.columns=headers # assign the columns with a header
print('\nDataset after assigning columns:\n',df1.head(3))

# sep parameter describes the separator to be (,)  and index=False doesn't includes index to be stored in dataset
df1.to_csv("Test.csv", sep=',', index=False) # saving dataframe to test.csv file

# renaming columns of dataframe
print("\nColumns of dataframe:",df1.columns)
df1.rename(columns={"K":"P","L":"Q","M":"R"},inplace=True) # rename(index, columns) is used to rename 
print("Columns of dataframe after renaming:",df1.columns)

df1.drop(labels=["R"],axis=1,inplace=True) # drop() is used to remove elements
print("\nDataframe after dropping column R using drop():\n",df1.head(3))

a=df1.pop("Q")
print("\nDataframe after dropping column Q using pop():\n",df1.head(3))
print("\nValues of column Q in a list:", list(a))

del df1["P"]
print("\nDataframe after dropping column P using del:\n",df1.head(3))

In [ ]:
import numpy as np
import pandas as pd

# the above cell has created a file test.csv
a=pd.read_csv("Test.csv",index_col='L') # index_col defines which column is to be used as index
a.sort_index(inplace=True) # data is sorted upon index values
print('Data extracted with index as column L using index_col\n',a.head(3),'\n')

a.reset_index(inplace=True) # resets index for the dataframe
a.set_index("M",inplace=True) # sets index for the dataframe
print('Data extracted with index as column M using set_index()\n',a.head(3),'\n')

# if a single column is required from the data
a=pd.read_csv("Test.csv",usecols=['M']) # returns dataframe
print('Single column extracted as a dataframe\n',a.head(3),'\n')

a=pd.read_csv("Test.csv",usecols=['M'],squeeze=True) # squeeze=True returns a series only if one column is extracted from the dataset
print('Single column extracted as a series using squeeze\n',a.head(3),'\n')

# MONTHLY EXPENDITURE Dataset
url="https://raw.githubusercontent.com/jamwine/Data/master/Monthly%20Expenditure.csv"
b=pd.read_csv(url)
print("Monthly Expenditure:\n",b.head(3))

c=b.describe(include="all") # include="all" describes the properties for string objects additionally 
print('\nDescription of the above dataset:\n',c)

c.dropna(subset=["Day"],inplace=True) # checks for null values only in those columns which are specified in subset
print('\nDropping rows containing NaN values in Day column using subset:\n',c)

c.fillna(0,inplace=True) # replaces NaN in the column with 0
print('\nChanging NaN values to 0:\n',c)

In [ ]:
import pandas as pd
import numpy as np

url="https://raw.githubusercontent.com/jamwine/Data/master/Monthly%20Expenditure.csv"
a=pd.read_csv(url)
print("Dataset:\n",a.head(3))

print('\nDatatype of columns (Raw data):\n',a.dtypes) # dtypes attribute returns the datatype of all columns
a['Date']=pd.to_datetime(a['Date'])  # converts string (object) column to date
print('\nDatatype of column Date  (After changing):\n',a.dtypes)

# (alternative method for converting strings into dates)
b=pd.read_csv(url, parse_dates=["Date"]) # parse_date parameter converts columns into dates
print("\nSample Dataset:\n",b.head(3))

b["Category"]=b["Category"].astype('category') # astype('category') is used to convert string objects into category
b["Cost"]=b["Cost"].astype("float") # astype('float') is used to convert int into float
print('\nDatatype of columns is changed using parse_dates parameter and astype()\n',b.dtypes)

print('\nUnique values in \'Category\' column are:\n',b['Category'].unique()) # returns an array of unique values
print('\nLength of Unique values in \'Category\' column (skipping NaN)',b['Category'].nunique()) # returns length of unique values (doesn't counts NaN Values)
print('Length of Unique values in \'Day\' column (counting NaN):',b['Day'].nunique(dropna=False)) # returns length of unique values (counts NaN Values as dropna=False)

print('\nDataframe after sorting multiple columns:\n',b.sort_values(["Cost","Category"],ascending=[False,True]).head(3)) # sorting multiple columns using sort_values

b["Rank"]=b["Cost"].rank(ascending=False) # rank() is used to assign ranks, ascending=False means the greatest will be ranked at first
print('\nDataframe after creating a rank column:\n',b.head(3))

# filtering dataframe based on certain condition
# Method 1
mask1=b['Cost']>1000
mask2=b['Category']=="Rent"
print("\nDataframe after applying filter:\n",b[mask1 & mask2])

# Method 2
print("\nDataframe after applying filter using query():\n",b.query("Cost>1000 & Category=='Rent'"))

# Method 3
print("\nDataframe after applying filter using contains():\n",b[b["Category"].str.contains("Rent")].head(3))

In [ ]:
import pandas as pd
import numpy as np

url="https://raw.githubusercontent.com/jamwine/Data/master/Class%20Result.csv"
a=pd.read_csv(url) # pd.read_csv(file) is used to read csv file and return it as a dataframe
print('Dataset:\n',a.head(3))

x=(a["Total Marks"].duplicated()) # returns true for duplicate values (first duplicate values are considered unique)
print("\nDuplicate Records (First duplicate records are skipped as they are considered unique):\n",a[x])

y=(a["Total Marks"].duplicated(keep="last")) # returns true for duplicate values (last duplicate values are considered unique)
print("\nDuplicate Records (Last duplicate records are skipped as they are considered unique):\n",a[y])

z=a["Total Marks"].duplicated(keep=False) # returns all duplicate values including the first and the last value
print("\nAll Duplicate Records having same total marks:\n",a[z])

p=~a["Exam1"].duplicated(keep=False) # returns all unique values using tilde (~)
print("\nReturning a list of unique Exam1 marks: ",list(a[p]["Exam1"]))

a.drop_duplicates(subset=["Exam1"],keep="first",inplace=True) # removes duplicates rows by checking values for columns mentioned in the subset
print("\nAfter removing duplicate records:\n",a.tail())

print("\nExtracting some rows from Dataframe:\n",a.loc[0:2],'\n\n',a.loc[[39,40,41]]) # loc[[list of rows]] is used to extract rows from the dataframe

print("\nExtracting a single row:\n",a.loc[3]) # returns series

print("\nSample rows from dataframe:\n",a.sample(frac=0.1)) # frac=0.1 means 10% of the dataset will be returned as sample
print("\nSample columns from dataframe:\n",a.sample(2,axis=1).tail(3))

print("\nExtracting two largest rows from dataframe:\n",a.nlargest(2,"Total Marks")) # nlargest(number,column to be sorted)
print("\nExtracting two smallest rows from dataframe:\n",a.nsmallest(2,"Total Marks")) # nsmallest(number,column to be sorted)

In [ ]:
import pandas as pd
import numpy as np

url="https://raw.githubusercontent.com/jamwine/Data/master/Class%20Result.csv"
a=pd.read_csv(url) # pd.read_csv(file) is used to read csv file and return it as a dataframe

# defining function
def grade(row):
    if row[-1]>=90:
        s="Grade A"
    elif row[-1]>=80:
        s="Grade B"
    elif row[-1]>=70:
        s="Grade C"
    else:
        s="Grade D"
    return s

a["Grade"]=a.apply(grade,axis="columns") # apply() is used to apply function on all elements in the dataset
print(a.head())

# changing an element in column
b=a["Exam2"] # series is extracted
print("\nSeries before changing an element in column Exam2:\n",b.head(3)) # index 1 has value 163
b[1]=170 # element is modified
print("\nSeries after changing an element in column Exam2:\n",b.head(3)) # index 1 has a new value 170
print("\nDataframe is also affected by the above change:\n",a.head(3)) #  index 1 is changed to new value 170 from 163

# in order to prevent values to be changed from original dataframe, copy() is used
c=a["Exam1"].copy()
print("\nSeries before change in column Exam1:\n",c.head(3)) # index 1 has value 223
c[1]=230 # element is modified
print("\nSeries after change in column Exam1:\n",c.head(3)) # index 1 has a new value 230
print("\nDataframe is not affected by the above change:\n",a.head(3)) #  index 1 is not changed, still retains old value 221

print("\nCount of Grades:\n",a["Grade"].str.split(" ").str.get(1).value_counts()) # str.split() is used to split on series, str.get() extracts the element from the returned array

In [ ]:
# creating bins (converting quantitative values into categorical values)

import pandas as pd
import numpy as np

url="https://raw.githubusercontent.com/jamwine/Data/master/Class%20Result.csv"
a=pd.read_csv(url)
print("Dataset:\n",a.head(3))
bins=np.linspace(min(a["Total Marks"]),max(a["Total Marks"]),4)
print("\nBins:",list(bins))

a["Grade"]=pd.cut(a["Total Marks"],bins) # pd.cut(column,bins) is used to create bins on the specified column
# by default, parameter right=true, max value is included while min value is not included
print("\nMaximum value is included:\n",a[8:11]) 
print("\nMinimum value is not included:\n",a[30:33])

# right=false is used to exclude the right-most values, max value is excluded while min value is included
a["Grade"]=pd.cut(a["Total Marks"],bins,right=False)  
print("\nMaximum value is not included:\n",a[8:11])
print("\nMinimum value is included:\n",a[30:33])

# include_lowest parameter is used to include the lowest value in the bin, both min and max value is included
a["Grade"]=pd.cut(a["Total Marks"],bins,include_lowest =True)
print("\nMaximum value is included:\n",a[8:11])
print("\nMinimum value is included:\n",a[30:33])

bin_names=["Grade C","Grade B","Grade A"]
a["Grade"]=pd.cut(a["Total Marks"],bins,include_lowest =True,labels=bin_names)
print("\nGrade with labels:\n",a.head(3))

# converting categorical values into quantitative values
url="https://raw.githubusercontent.com/jamwine/Data/master/Monthly%20Expenditure.csv"
b=pd.read_csv(url)
print("\nDataset:\n",b.head(3))
print("\nConverting categorical value into quantitative value: \n",pd.get_dummies(b["Day"].sample(5))) # get_dummies(column) is used to convert each unique categorical value in the column into quantitative value

pd.options.display.max_columns=8 # this defines the number of columns displayed while printing a dataframe
a.transpose() # transpose of dataframe

In [ ]:
import pandas as pd
import numpy as np

names=["Trishant Dev","Bhaskar Kaushik","Sakshi Singh","Dhruv Garg","Yogesh Goel","Pankaj Agarwaal","Shaurya Khurana", "Akshay Kumar Kusneniwar"]
a=pd.DataFrame(names,columns=["Name"])
print(a["Name"].str.split(" ", expand=True).tail(3)) # expand=True splits the strings and returns the result in different columns; None is for missing values

a["Dep"]="Electronics" 
a[["First Name","Last Name"]]=a["Name"].str.split(" ", expand=True, n=1) # n=1 splits the string once, thus returning two columns only
print("\n",a)

# creating multi_index using zip()
x=["Team_1","Team_1","Team_1","Team_1","Team_2","Team_2","Team_2","Team_2"]
y=[1,2,3,4,1,2,3,4]
z=list(zip(x,y)) 
multi_index=pd.MultiIndex.from_tuples(z)

a.set_index(multi_index,inplace=True) # multi-index (team and project) for each row in dataframe
print("\nMulti-indexes:\n",a.index)

print("\nExtracting index level-wise:\n","Index first level:\n",a.index.get_level_values(0),"\nIndex second level:\n",a.index.get_level_values(1)) # get_level_values() is used to extract index level-wise
a.index.set_names(["Team","Project"],inplace=True) # index name changed from Dep to Department

print("\nSorting Indexes:\n",a.sort_index(ascending=False).tail(3))

print("\nExtracting columns from multi-index using loc():\n",a.loc[("Team_2",3)]) # a.loc[(multi-index)) returns all columns of the specified index
print("\nExtracting columns from multi-index using iloc():\n",a.iloc[(7)])

print("\nExtracting single column value from multi-index:",a.loc[("Team_1",2),"Last Name"]) # returns value for specified column

print("\nExtracting elements with xs():\n",a.xs(2,level="Project")) # xs() is used to extract from index

print("\nAfter Swapping Index:\n",a.swaplevel().head(3)) # in order to ensure efficiency, we should have common indexes at outer levels

b=a.stack()
print("\nDataframe is converted into series:\n",b.head(4)) # stack() is used to return one column for whole dataframe
print("\nSeries is converted into dataframe using to_frame():\n",b.to_frame().head(4)) # to_frame() returns dataframe with indexes and columns
print("\nSeries is converted into dataframe using unstack():\n",b.unstack().head(3)) # unstack() is used to unstack the stacked column
b.unstack("Project") # unstack(column_index|column name) is used to define table-like structure by unstacking the specified column index

In [ ]:
import pandas as pd
import numpy as np

url="https://raw.githubusercontent.com/jamwine/Data/master/Test%20Data.csv"
a=pd.read_csv(url,parse_dates=["Date"])
print("Dataset having length:",len(a),"\n",a.head(3))

b=a.pivot(index="Date",columns="Country",values="Cost") # pivot() is used to reshape the dataset, index must be unique
print("\nDataset using pivot() having new length:",len(b),"\n",b.head())
print("\nDataset is unpivoted using melt():\n",pd.melt(b,value_name="Cost").head(3)) # melt() is used to unpivot the dataset in separate rows

url="https://raw.githubusercontent.com/jamwine/Data/master/Monthly%20Expenditure.csv"
c=pd.read_csv(url)
print("\nDataset:\n",c.head(3))
# pivot_table is used to aggregate data based on our specified conditions, values represents data, index can be single/multi-level,columns represents unique categories and can be single/multi-level
print("\nData extracted using pivot_table():\n",np.around(c.pivot_table(values="Cost",index=["Day","Date"],columns="Category",aggfunc="sum",fill_value=0),0))
print("\nData extracted using pivot_table():\n",np.around(c.pivot_table(values="Cost",index="Category",aggfunc="sum",fill_value=0),0))

In [ ]:
import pandas as pd

url="https://raw.githubusercontent.com/jamwine/Data/master/Monthly%20Expenditure.csv"
a=pd.read_csv(url,parse_dates=["Date"])
print("Dataset:",type(a),"\n",a.head(3))

b=a.groupby("Category") # groupby() is used for grouping dataset by the specified column
# length returns the unique columns in groupby() and size returns the number of rows in each category
print("\nDataset with groupby():",type(b),"having length:",len(b), "and size:\n",b.size())

print("\nFirst rows in each category:\n",b.first()) # first() returns the first occurences of rows in each category
print("\nLast rows in each category:\n",b.last()) # last() returns the last occurences of rows in each category

print("\nGrouping of dataset:\n",b.groups) # groups parameter returns the dictionary with each category as key and index of each row as value

print("\nRetrieving a category 'Basics' from group:\n",b.get_group("Basics")) # get_group(category_value) returns all the entries of specified value

print("\nMax. in each category:\n",b.max()) # returns maximum in each category
print("\nMin. in each category:\n",b.min()) # returns minimum in each category

print("\nSum of each category:\n",b.sum())
print("\nAggregation of various operations in each category:\n",b.agg(["sum","mean","max","min"])) # agg() is used to perform operations on the grouped dataset

c=pd.DataFrame(columns=a.columns)
for category,data in b:
    c=c.append(data.nlargest(1,"Cost")) # dataframe is created keeping maximum value entries in each category
print("\nNew DataFrame with top values:\n",c)

In [ ]:
import pandas as pd

url1="https://raw.githubusercontent.com/jamwine/Data/master/Monthly%20Expenditure.csv"
url2="https://raw.githubusercontent.com/jamwine/Data/master/Monthly%20Expenditure%202.csv"
a=pd.read_csv(url1)
b=pd.read_csv(url2)
c=pd.concat([a,b]) # concat([data1,data2]) joins two data sources
print("Length of a:",len(a),"\nLength of b:",len(b),"\nLength of c:",len(c))

print("\nSample of dataset:\n",c.tail(3))

c=pd.concat([a,b],ignore_index=True) # ignore_index parameter is used for indexing data in an efficient manner by concatenating two datasets
print("\nSample of dataset with ignore_index parameter:\n",c.tail(3))

c=pd.concat([a,b], keys=["A","B"]) # index of each dataset is assigned using the keys
print("\nSample of dataset with keys defined for each dataset:\n",c.head(3),"\n",c.tail(3))

print("\nExtracting single data record:\n",c.ix["A",21],"\n\n",c.iloc[182])

d=b.append(a,ignore_index=True) # another method to join two datasets
print("\nDatasets are appended using append():\n",d.head(3))

inner=a.merge(b,how="inner",on=["Day","Category","Expenditure","Cost"]) # inner join using merge(),'how' parameter defines type of join,'on' parameter takes multiple columns for joining
print("\nInner join using merge():\n",inner.head(3))

inner=a.merge(b,how="inner",on=["Day","Category","Expenditure","Cost"],suffixes=["_A","_B"]) # 'suffixes' parameter is used to define columns from two different datasets
print("\nInner join with suffixes parameter:\n",inner.head(3))

outer=a.merge(b,how="outer",on=["Day","Expenditure","Category"],suffixes=["_A","_B"])
print("\nOuter join using merge():\n",outer.head(3))

outer_with_indicator=a.merge(b,how="outer",on=["Day","Expenditure","Category"],suffixes=["_A","_B"],indicator=True) # indicator parameter denotes the data from a particular dataset
print("\nOuter join with indicator:\n",outer_with_indicator.head(3)) # _merge column represents data from a particular dataset
print("\nSummary of outer join:\n",outer_with_indicator["_merge"].value_counts()) # represents summary of records taken from each dataset in the outer join

# similarly, merge() is used for left  & right join.'sort' parameter is used to sort the resulting dataset based on the matched column
# if the two datasets have a different column name on which the data is to be joined, we use 'left_on' and 'right_on' parameters
# 'left_index' and 'right_index' parameters are used to join datasets when the dataset contains the column as index 
# in order to attach a new column which is present in different dataset, we use join()

In [ ]:
import datetime as dt
import pandas as pd

a=dt.datetime(1995,6,26,8,5,25)
print("Date and Time using datetime():",a, type(a))
b="05/12/1994 8:15:30 AM"
print("Date and Time as a string:",b, type(b))
print("Date and Time using timestamp():",pd.Timestamp(a), pd.Timestamp(b), type(pd.Timestamp(b))) # timestamp objects

dates=[dt.date(2017,6,26),"2015/11/30","2013-1-6","Aug 15th, 2018","3rd July 1947","2015"]
print("\nDates:",dates, type(dates))
print("\nDate and Time using to_datetime():",pd.to_datetime(dates)) # to_datetime() is used to convert strings of various formats into datetime

x=pd.DatetimeIndex(dates) # datetimeindex object contains list of timestamp objects
print("\nDate and Time using DatetimeIndex():",x, type(x)) 
print("\nExtracting element from the list:",x[1])

dates=[dt.date(2017,6,26),"2015/11/30","2013-1-6","Aug 15th, 2018","3rd July 1947","2015","31st April 2014","Sample_text","1345673680"]
y=pd.Series(dates)
print("\nSeries:\n",y)

z=pd.to_datetime(y,errors='coerce') # errors='coerce' is used to return NaT for invalid dates without throwing any error
print("\nSeries converted into dates:\n",z)

print("\nWeekday Name:\n",z.dt.weekday_name) # dt.weekday_name parameter returns day of that date

print("\nMonth End:\n",z.dt.is_month_end) # dt.is_quarter_end parameter returns boolean value of that date

print("\nTime in seconds since 1970-01-01 is converted into timestamp:",pd.to_datetime("1465673680",unit='s')) # unit='s' represents seconds

print("\nDates using date_range():\n",pd.date_range(start="26th Oct 2018",end="6th Nov 2018")) # date_range() is used to return a range of dates between two intervals
print(pd.date_range(start="26th Oct 2018",end="6th Nov 2018",freq='2D')) # frequency means 2 days
print(pd.date_range(start="26th Oct 2018",end="6th Nov 2018",freq='B')) # frequency means business days
print(pd.date_range(start="26th Oct 2018",end="13th Nov 2018",freq='W')) # frequency means week (displaying sunday by default)
print(pd.date_range(start="26th Oct 2018",end="13th Nov 2018",freq='M')) # frequency means Month's end
print(pd.date_range(start="26th Oct 2018",periods=8,freq='D')) # periods parameter denotes number of dates
print(pd.date_range(start="26th Oct 2018",periods=4,freq='5H')) # frequency means every 5 hours, will start from the start date
print(pd.date_range(end="26th Oct 2018",periods=4,freq='2D')) # frequency means every 2 days, will end at the end date

In [ ]:
!pip install --user nsepy # library is downloaded which is not available by default
import nsepy # nsepy modules helps in importing datasets from Indian Stock Market Exchange

In [ ]:
import pandas as pd
from nsepy import get_history
import time

today=time.strftime("%x") # returns current date
sbi=get_history(symbol="SBIN", start=pd.to_datetime('2014-01-01').date(), end=pd.to_datetime(today).date())
sbi.index=pd.to_datetime(sbi.index)
sbi_share=sbi[["Prev Close","Open","High","Low","Close","Trades"]]
print(sbi_share.truncate(before="2018-09-01",after="2018-09-12")) # truncate() is used to fetch data for the specified range from the dataset 

birthdays=pd.date_range(start="2014-05-12", end=today,freq=pd.DateOffset(years=1))
print("\nMy birthdays from 2014 onwards:")
for day in birthdays:
    print(day.date(),day.weekday_name) # printing birthdates along with days

# stock prices on birthday
sbi_birthday=sbi[sbi.index.isin(birthdays)][["Prev Close","Open","High","Low","Close","Trades"]]
print("\nSBI Share Price on birthdays: \n",sbi_birthday)

print("\nOriginal Index:\n",sbi.index)
print("\nNew Index:\n",sbi.index+ pd.DateOffset(days=5,months=2,years=1)) # here, pd.DateOffset() is used to add the specified fields in the original index

# pd.tseries.offsets is imported separatedly for avoiding large syntax
from pandas.tseries.offsets import *
print("\nNew Index using offsets:\n",sbi.index+QuarterEnd())
# other functions are MonthEnd(), BMonthEnd(), OuarterBegin(), YearEnd(), YearBegin() etc.

time_1=pd.Timestamp("2018-09-13 21:09:30")
time_2=pd.Timestamp("2018-08-16 16:26:20")
print("\nTime_1:",time_1)
print("Time_2:",time_2)

print("\nNegative Difference of two times:",time_2-time_1)
print("Positive Difference of two times:",time_1-time_2)
print("Type:",type(time_1-time_2))

a=pd.Timedelta(days=3, weeks=1, hours=4, minutes=20) # Timedelta() can be used like DateOffset() for various operations on time
b=pd.Timedelta("16 days 11 hours 30 minutes 10 seconds") # Timedelta() can be used like DateOffset() for various operations on time
print("\nTimedelta a:",a)
print("Timedelta b:",b)

print("\nNew Time_1 after using pd.TimeDelta():",time_1+a)
print("New Time_2 after using pd.TimeDelta():",time_2+b)

### Panel

In [ ]:
import pandas as pd
import numpy as np

ep = pd.Panel()
print("Empty Panel:",ep)

a=np.random.randint(1,10,(2,4,3))
p=pd.Panel(a,['A','B'],['P','Q','R','S'],['X','Y','Z']) # three dimensional
print("\nPanel:",p)

print("\nDimensions:",p.ndim)
print("Items:",p.items)
print("Major Axis:",p.major_axis)
print("Minor Axis:",p.minor_axis)
print("Axes:",p.axes)
print("Shape:",p.shape)
print("Size:",p.size)

print("\nValues of Panel:\n",p.values)

print("\nExtracting item A:\n",p["A"])

print("\nExtracting row R from item A using p.loc['A','R']:\n",p.loc["A","R"])

print("\nExtracting data from item A row R column Y using p.loc['A','R','Y']:",p.loc["A","R","Y"])
print("\nExtracting row R from item A using p.iloc[0,2]:\n",p.iloc[0,2])
print('\nExtracting data from item A row R column Y using p.iloc[0,2,1]:',p.iloc[0,2,1])

df=p.to_frame()
print("\nPanel to Dataframe:\n",df.T)

print("\nDataframe to Panel:\n",df.to_panel())

print("\nValue of Row Q:\n",p.major_xs("Q")) # data extracted by removing one dimension

print("\nValue of column Y:\n",p.minor_xs("Y")) # data extracted by removing one dimension
print("\nTranspose of Panel:",p.transpose(2,0,1)) #transpose(axes), axes are called using index (0 - items, 1 - major_axis, 2 - minor_axis)
print("\nSwapping Axis:",p.swapaxes("items","minor"))

In [ ]:
# reading and writing .xlsx files

import pandas as pd
import numpy as np

names=["Jack","John","Jenny","James","Joseph","Jim","John","Jasmine"]
city=["Dubai","Delhi","Paris","Rome","New York","Mumbai","San Jose","London"]
age=list(np.random.randint(20,30,8))
data={'Name':names,
      'City':city,
      'Age':age}
students=pd.DataFrame(data)
students=students[["Name","City","Age"]] # ordering columns in data

excel_file=pd.ExcelWriter("Students.xlsx") # creating an excel file using ExcelWriter object
students.to_excel(excel_file,sheet_name="Student Details",index=False) # pushing dataframe to excel file
excel_file.save() # saving excel file

pd.read_excel("Students.xlsx") # reading excel file

In [ ]:
# options and settings

# pd.get_option('Option Name') fetches the value of option
# pd.set_option('Option Name') sets the value of option

print('pd.get_option("max_columns"):',pd.get_option("max_columns"))
print('pd.get_option("max_rows"):',pd.get_option("max_rows"))

pd.reset_option('max_rows') # resets the option value to default
pd.set_option("max_rows",10) # Setting new max_rows
print('\nPrinting Information about option:')
pd.describe_option('max_rows')
pd.set_option("precision",2)